* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgba(100, 96, 96, 0.281);
}
.navbar-default {
    /* background-color: rgba(10, 10, 10, 0.322); */
    background-color: rgba(59, 59, 59, 0.7); /* True color from www.blankonlinux.or.id */
}
.navbar-container {
    height: 60px;
}
.navbar-clearfix {
    margin-top: 90px;
}

.content-container {
    margin-top: 30px;
}
.main-panel {
    height: 350px;
    padding: 20px;    
}
.main-panel h2 {
    margin-top: 100px;
    font-size: 40px;
}
.main-panel h2 b {
    font-size: 70px;
}
.boni-main {
    height: 100%;
    margin-right: 20px;
    /* transform: scale(2); */
}
.main-right-panel {
    line-height: 200px;
}

#welcome {    
    margin-bottom: 30px;
}

#welcome,
#welcome.row {
    height: 350px;
    /* border: 1px solid; */
    overflow: hidden;
}
#logo {
    margin-top: 0px;
    width:130px;
    height:auto;
}

.list-section {
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 2px 2px 10px #1615159d;    
}
.list-section .row {
    padding: 30px;
}
.inner_about_title {    
    width: 100%;
    font-size: 30px;
    font-style: italic;
}
.inner_about_title p {
    text-align: center;
    font-size: 35px;
}
.about-content {    
    display: inline;    
    height: 100px;
    margin: auto;    
}
.single_about_area {
    margin-bottom: 40px;
}
.single_about_area > a {
    font-size: 30px;
    font-weight: 400;
    margin-right: 5px;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #f5f5f5;
    font-family: Raleway,sans-serif;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.navbar-default > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}

.navbar-default .navbar-nav > li > a {
    color: #b5b5b5;
    font-family: Raleway,sans-serif;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: 0 0;
    color: #f5f5f5;
}

.navbar-default .navbar-nav > li > a {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/*******************
| FOOTER SECTION
********************/
.footer {
    padding: 50px 10px 40px 10px;
    background-color: #1a1d22;    
}
.footer-container {
    margin-top: 80px;
}
.copyright {
    background-color: #1A1D22;
    padding-bottom: 65px;
    padding-top: 65px;
    border-bottom: 3px solid #338db8;
}
.copyright h2 {
    height: 0px;
    margin: 0px;
}
.copy_right_text {
    width: 50%;
}
.copy_right_text p,
#tahun-sekarang {
    color: rgb(180, 180, 180);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}
.copy_right_text p a {
    text-decoration: none;
    color: #ff0000;
}
.copy_right_text p span {
    font-weight: 300;
}
.scroll_top {
    text-align: right;
}
.scroll_top a {
    background: #338db8;
    padding: 25px;
}
.scroll_top a i {
    color: #fff;
    font-size: 25px;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: red;
    background-image: none;
    color: rgb(0, 0, 0);
}
.spn_hol {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 50000;
    opacity: 1;
     -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.spinner {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -35px;
    height: 24px;
    width: 70px;
    text-align: center;
    display: block;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/***************
| CARD SECTION
****************/
.card {
    background: #fff;
    border-radius: 2px;
}
.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


/* 
For code view */

pre {
    border: 0px solid #ccc;
    border-radius: 0px;
    width: 75%;
}